<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete from database</title>
    <link rel="stylesheet" href="shoppingListStyle.css" type="text/css" />
</head>
<body>
    <a class="home" href="http://localhost:8080/back">Vissza a főoldalra</a>
    <h1 class="title">Áru törlése az adatbázisból</h1>
    <table>
        <tr>
            <th>Név</th>
            <th>Törlés</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <form action="delete-this" method="post">
                <td><button type="submit" th:value="${product.id}" name="dlt">Törlés</button> </td>
            </form>
        </tr>
    </table>
</body>
</html>