<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="shoppingListStyle.css" type="text/css" />
</head>
<body>
    <h1 class="title">Bevásárlólista</h1>
    <div class="links">
        <div class="menu"><a href="http://localhost:8080/list">Lista</a></div>
        <div class="menu"><a href="http://localhost:8080/add">Áru hozzáadása a litához</a></div>
        <div class="menu"><a href="http://localhost:8080/new">Új áru felvétele</a></div>
        <div class="menu"><a href="http://localhost:8080/delete-item">Hozzáadott áru törlése</a></div>
    </div>
</body>
</html>