<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List</title>
    <link rel="stylesheet" href="shoppingListStyle.css" type="text/css" />
</head>
<body>
    <a class="home" href="http://localhost:8080/back">Vissza a főoldalra</a>
    <h1 class="title">Lista</h1>
    <table>
        <tr>
            <th>Név</th>
            <th>Mennyiség</th>
            <th>Mennyiség típusa</th>
            <th>Kosár</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.amount}"></td>
            <td th:text="${item.typeOfAmount}"></td>
            <form action="basket" method="post">
                <td>
                    <span th:if="${item.isInTheBasket()} == ${false}">[ ]</span>
                    <span th:unless="${item.isInTheBasket()} == ${false}">[x]</span>
                    <button type="submit" name="done" th:value="${item.id}">Kosárba!</button>
                </td>
            </form>
        </tr>
    </table>
    <form action="clean-list">
        <div class="buttonForDelete">
        <button type="submit">Lista törlése</button>
        </div>
    </form>
</body>
</html>