<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add product</title>
    <link rel="stylesheet" href="shoppingListStyle.css" type="text/css" />
</head>
<body>
    <a class="home" href="http://localhost:8080/back">Vissza a főoldalra</a>
    <h1 class="title">Új termék felvétele</h1>
    <div class="select">
        <form action="new-product" method="post">
            <input type="text" name="name">
            <button type="submit">Hozzáad</button>
        </form>
        <p th:text="${exists}"></p>
    </div>
</body>
</html>